{% extends 'sales/base.html' %}

{% block content_checkout %}
<div class="container mt-5">
    <div class="box-element text-center">
        {% if order.customer %}
        <p>Người đặt hàng: {{ order.customer.first_name }} {{ order.customer.last_name }}</p>
        {% else %}
            <p>Người đặt hàng: (khách vãng lai)</p>
        {% endif %}

        <h4>Mã đơn hàng: {{ order.id }}</h4>
        <h5>Tổng tiền: {{ order.get_cart_total | floatformat:3}}</h5>

        {% if order.get_payment_method_display %}
            <p>Phương thức thanh toán: {{ order.get_payment_method_display }}</p>
        {% endif %}

        <h3>Danh sách sản phẩm</h3>
        <form method="POST" action="{% url 'place_order' %}">
            {% csrf_token %}
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th>Nhận xét</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td><img src="{{ item.product.ImageURL }}" alt="{{ item.product.name }}" width="100"></td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price | floatformat:3}}</td>
                        <td>{{ item.order.shippingaddress.state }}</td>
                        <td>
                            {% if item.product.id %}
                                <a href="{% url 'detail' item.product.id %}" class="btn btn-link text-decoration-none d-flex align-items-center justify-content-center gap-1">
                                    <i class="fas fa-star"></i> Đánh giá
                                </a>
                            {% else %}
                                <span class="text-danger">Không có sản phẩm</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <div class="mt-3 text-start">
            <a href="{% url 'home' %}" class="btn btn-primary">Tiếp tục mua sắm</a>
        </div>
    </div>
</div>
{% endblock %}
